QuizFlash/QuizFlash/Web References/ClassService1/Classes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClassResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStudentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obj" type="tns:TeacherClass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TeacherClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User_Type" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateClassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="className" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteClassResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClassSoapIn">
    <wsdl:part name="parameters" element="tns:GetClass" />
  </wsdl:message>
  <wsdl:message name="GetClassSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassResponse" />
  </wsdl:message>
  <wsdl:message name="getStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:getStudents" />
  </wsdl:message>
  <wsdl:message name="getStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:getStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="CreateClassSoapIn">
    <wsdl:part name="parameters" element="tns:CreateClass" />
  </wsdl:message>
  <wsdl:message name="CreateClassSoapOut">
    <wsdl:part name="parameters" element="tns:CreateClassResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClassSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteClass" />
  </wsdl:message>
  <wsdl:message name="DeleteClassSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClassResponse" />
  </wsdl:message>
  <wsdl:portType name="ClassesSoap">
    <wsdl:operation name="GetClass">
      <wsdl:input message="tns:GetClassSoapIn" />
      <wsdl:output message="tns:GetClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <wsdl:input message="tns:getStudentsSoapIn" />
      <wsdl:output message="tns:getStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateClass">
      <wsdl:input message="tns:CreateClassSoapIn" />
      <wsdl:output message="tns:CreateClassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <wsdl:input message="tns:DeleteClassSoapIn" />
      <wsdl:output message="tns:DeleteClassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClassesSoap" type="tns:ClassesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClass">
      <soap:operation soapAction="http://tempuri.org/GetClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <soap:operation soapAction="http://tempuri.org/getStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClass">
      <soap:operation soapAction="http://tempuri.org/CreateClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap:operation soapAction="http://tempuri.org/DeleteClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClassesSoap12" type="tns:ClassesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClass">
      <soap12:operation soapAction="http://tempuri.org/GetClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudents">
      <soap12:operation soapAction="http://tempuri.org/getStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClass">
      <soap12:operation soapAction="http://tempuri.org/CreateClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClass">
      <soap12:operation soapAction="http://tempuri.org/DeleteClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Classes">
    <wsdl:port name="ClassesSoap" binding="tns:ClassesSoap">
      <soap:address location="http://localhost:51685/Classes.asmx" />
    </wsdl:port>
    <wsdl:port name="ClassesSoap12" binding="tns:ClassesSoap12">
      <soap12:address location="http://localhost:51685/Classes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>